.contenedor {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
.contenedor h1 span {
  color:red;
  
}
.menu-principal {
  background-color: #e55a5a;
  padding: 10px;
}
.logo-derecha{  
  position: absolute;
  right: 20px;
  color: white;

}
.menu-principal ul {
  margin: 0;
  padding: 5px 5px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.menu-principal li:nth-child(2n) {
  margin: 0 0 0 20px;
 
}
.menu-principal a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.menu-principal a:hover {
  color: black;
}
